:local(.app) {
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-rows: 5vh 1fr;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  :local(.app) {
    grid-template-rows: 0 1fr;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  :local(.app) {
    grid-template-rows:  0 1fr;
  }
}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  :local(.app) {
    grid-template-rows:  0 1fr;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) {
  :local(.app) {
    grid-template-rows: 5vh 1fr;
  }
}
