:local(.board) {
  display: grid;
  height: 100%;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  :local(.board) {
    grid-template-columns: 0 1fr 0;
    grid-template-rows: 1fr;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  :local(.board) {
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: 1fr;
  }
}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  :local(.board) {
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: 1fr;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) {
  :local(.board) {
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: 1fr;
  }
}
